.cart-no{
    position: absolute;
    min-height: 20px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background:rgb(96, 96, 150);
    color: white;
    text-align: center;
    top: -25px;
    right: 11px;
}
.btn {
    margin: 10px 10px 10px 0;
  }
  .fa{
    margin: 9px 20px 10px 0;
  }

  a{
     text-decoration: none;
     color:#343a40;

     &.active{
       color:orange;
     }
  }

  .logo
  {
    cursor:pointer;

    &:focus{
      outline:none;
    }
  }